*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(219, 218, 218);
    

}
.container{
    width: 100%;

}
.container .row{
    width: 80%;
    margin: auto;
}

.container .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}
.container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color: #686561;

}
.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.content .card img{
    width: 100%;
    height: auto;
}
.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;

}
.content .card p{
    font-size: 20px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;


}
@media screen and (max-width:768px) {
    .content{
        flex-direction: column;
    }
    
}



.comment-box {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
}

.comment-box button {
    padding: 10px 20px;
    background-color: #6e6e6e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-comment {
    font-size: 17px;
    border-width: 1px;
    border-color: rgb(219, 218, 218);
    border-style: solid;
    background-color: rgb(219, 218, 218);
    margin-top: 20px;
}
